<app-toolbar></app-toolbar>
<div class="container">
    <div class="container">
        <div class="container-fluid">
            <h1>Home</h1>
        </div>
    </div><br>
    <div class="dashboard container">
        <div class="container">
            <div class="container">
                <button mat-button class="btn-dash" color="primary">dashboard</button>
            </div>
        </div>
    </div><br>
    <div class="Home-logo container">
        <h2>Welcome, Sid</h2>
        <div class="container">
            <div class="container">
                <img class="home-img" src="assets/Images/Bnk.png" alt="">            </div>
        </div>
        
    </div>
    
</div>
