<!-- <app-toolbar></app-toolbar> -->
<div class="container">
    <div class="container1" style="margin-bottom: 30px;">
        <h3>Product</h3>
        <hr style="width: 100%;">
        <div class="row">
            <div class="col-6">
                <table>
                    <tr>
                        <td>
                            <h4>Loan Product</h4>
                            <p>Loan Product Form</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table>
                    <tr>
                        <td>
                            <h4>RD Product</h4>
                            <p>RD Product Form</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <table>
                    <tr>
                        <td>
                            <h4>FD Product</h4>
                            <p>FD Product Form</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>